body {
  height: 100vh;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;
  font-family: monospace;
  user-select: none;
}

.calculator {
  background-color: rgb(24, 24, 24);
  width: 400px;
  height: 600px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.screen {
  width: 350px;
  height: 100px;
  background-color: rgb(47, 47, 47);
  margin-top: 25px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  width: 350px;
}

.button, .numberButton, .operatorButton{
  width: 75px;
  height: 75px;
  border-radius: 10px;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 32px;
}

.button:active, .numberButton:active {
  background-color: rgb(174, 174, 174);
}

.result, .resultHistory {
  color: white;
  font-size: 40px;
  padding: 0px 8px;
  margin: 0px;
  display: flex;
  justify-content: right;
  max-width: 350px;
}

.resultHistory {
  font-size: 16px;
}

#equals {
  width: 160px;
}

.operatorButton {
  background-color: orange;
}

.operatorButton:active {
  background-color: rgb(255, 202, 103);
}

#AC, #C {
  background-color: rgb(255, 47, 47);
}

#AC:active, #C:active {
background-color: rgb(255, 108, 108);
}